@import "libs";
@import "colors";

@mixin shadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
}

@mixin newBckg($firstColor, $secondColor) {
  background: $firstColor;
  background: -webkit-linear-gradient(to right, $secondColor, $firstColor);
  background: linear-gradient(to right, $secondColor, $firstColor);
}

body {
  background-color: white;
  font-size: 62.5%; /* 10px */
  width: 100%;
  height: 100vh;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
  align-items: center;
  justify-content: center
}

hr {
  border: 0;
  height: 1px;
  background: $primary-color;
  margin: 2rem 0;
}

.sorting {
  margin: 1rem 0;
}

p.alertInfo {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  color: $accent-color;
}

.col-md-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  .todolist {
    width: 500px;
    margin: 10vh 0;
    background-color: #323232;
    padding: 2rem 2rem 1rem 2rem;
    @include shadow;
    border-top: 0.3rem solid $primary-color;
    h1 {
      margin: 0;
      padding-bottom: 1.5rem;
      text-align: left;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      color: $primary-color;
      float: left;
    }
    input.add-todo, .form-control {
      color: white;
      display: block;
      width: 100%;
      padding: 0.5rem;
      box-sizing: border-box;
      margin: 1rem 0;
      background-color: $gray-lighter-two;
      font-size: 1rem;
      font-family: Sans-serif;
      outline: 0;
      border-radius: 0;
      border: 0;
      &::placeholder {
        color: $gray-lighter-one;
      }
      &:active, &:focus {
        background-color: $gray-lighter-one;
        outline: 0.1rem solid $primary-color;
        color: white;
        border: none;
        box-shadow: none;
      }
    }

    .btn.mark {
      letter-spacing: 0.05rem;
      background-position: 0 -50%;
      background-repeat: repeat-x;
      transition: background-position .75s ease;
      color: $primary-color-text;
      // background-image: url('https://s32.postimg.org/ku0i5xmph/wave_yellow.png');
      background-color: white;
      border-radius: 0;
      padding: 1rem;
      width: 100%;
      text-transform: uppercase;
      box-shadow: none;
      &:hover {
        background-position: 100% 60%;
      }
    }

    .btn.mark.deleteBtnSmall {
      letter-spacing: 0.05rem;
      background-position: 0 -50%;
      background-repeat: repeat-x;
      transition: background-position .75s ease;
      color: $primary-color-text;
      // background-image: url('https://s32.postimg.org/ku0i5xmph/wave_yellow.png');
      background-color: white;
      border-radius: 0;
      padding: 0.5rem;
      width: 20%;
      text-transform: uppercase;
      box-shadow: none;
      &:hover {
        background-position: 100% 60%;
      }
    }

    .row.titles {
      margin-top: 1.5rem;
      margin-bottom: -2rem;
      .form-group {
        .sortType {
          font-weight: bold;
          color: $primary-color;
          font-size: 1rem;
          letter-spacing: 0.05rem;
          margin-top: 1rem;
          text-align: left;
        }
        select {
          border-radius: 0;
          &:active, &:focus {
            outline: 0.1rem solid $primary-color;
            box-shadow: none;
          }
          option {
            color: $primary-color-text;
          }
        }
      }
    }

    .todos {
      margin-top: 2rem;
      color: white;
      font-size: 1rem;
      letter-spacing: 0.05rem;
      //display: inline-block;
      position: relative;
      .deleteBtnSmall {
        position: absolute;
        right: 0;
      }
      .todoInfo {
        padding-left: 1.8rem;
        p, span.priorityValue, span.dateValue {
          font-size: 0.8rem;
          margin-top: -0.5rem;
          color: white;
        }
        p.valueName {
          font-size: 0.8rem;
          margin-top: -0.5rem;
          color: $primary-color;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
      input[type=checkbox] {
        margin-right: 1rem;
      }
    }
  }
}

#change-style {
  border-radius: 0;
  float: right;
  background-color: transparent;
  color: $primary-color;
  opacity: 0.6;
  box-shadow: none;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

header {
  height: 100%;
  &::before, &::after {
    content: "";
    display: table;;
    clear: both;
  }
}

.options-change-style {
  background-color: transparent;
  float: right;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  margin-top: -1rem;
  p {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
  }

  .fa-angle-right {
    cursor: pointer;
    opacity: 0.6;
    height: 0px;
    width: 0px;
    border: 8px solid;
    border-color: $primary-color $primary-color transparent transparent;
    transform: rotate(45deg);
    transition: all 0.3s ease;
    &:hover {
      opacity: 1;
    }
  }
  .fa-angle-left {
    cursor: pointer;
    opacity: 0.6;
    height: 0px;
    width: 0px;
    border: 8px solid;
    border-color: $primary-color $primary-color transparent transparent;
    transform: rotate(225deg);
    margin-right: 1rem;
    &:hover {
      opacity: 1;
    }
  }
}

.options-change-style:first-of-type {
  margin-top: 0.3rem;
}

.options-change-style:nth-of-type(2) {
  margin-bottom: 1rem;
}

.newBackground-0 {
  background-color: #fff;
}

;
.newBackground-1 {
  @include newBckg(#FF8008, #FFC837);
}

;
.newBackground-3 {
  @include newBckg(#085078, #3cbbf7);
}

;
.newBackground-2 {
  @include newBckg(#EB3349, #F45C43);
}

;

.new-vawe-0 {
  background-image: url('https://s32.postimg.org/ku0i5xmph/wave_yellow.png');
}

.new-vawe-1 {
  background-image: url('https://s32.postimg.org/5798sk8xh/wave_red.png');
  color: #E74C3C;
}

.new-vawe-2 {
  background-image: url('https://s32.postimg.org/k0nwdbgol/wave_blue.png');
  color: #3CBBF7;
}
